.profile_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  img {
    border-radius: 10%;
    width: 20vw;
    min-width: 150px;
  }
}

.user_overview {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-inline: 50px;
}

.details {
  display: flex;
  flex-direction: column;
  padding-right: 40px;

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    
    .grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
  
      p {
        font-weight: 700 !important;

        span {
          font-weight: 700;
          color: #D2D2D2;
        }
      }
    }
  }
}

.artists_container {
  p {
    color: #1ED760;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .artists_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .artist {
      padding: 7.5px;
    }

    .artist:hover {
      opacity: 35%;
      transition: .2s ease-out;
    }
  
    img {
      border-radius: 100%;
      width: 5vw;
      min-width: 30px;
      max-width: 60px;
    }
  }
}

@media screen and (max-width: 990px) {
  .profile_container {
    flex-wrap: wrap;
  }

  .details {
    padding-inline: 10vw;

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 25px;

      .grid {
        p {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .artists_container {
    p {
      font-size: 20px;
    }
  }

}