.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #282828;
  border-radius: 10px;
  margin: 2vh 1vw 2vh 0.5vw;
  overflow-y: auto;

  .title {
    position: fixed;
    width: 74vw;
    min-height: 50px;
    background-color: #282828;
    padding: 25px 0px 10px 30px;
    margin-top: 0px;
    border-radius: 15px;
  }

  .children {
    margin-top: 100px;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 990px) {
  .wrapper {
    margin: 1vh 1vw 0.5vh 1vw;
    overflow-y: scroll;
    margin-bottom: 65px;
    
    .title {
      padding-top: 20px;
      padding-left: 5vw;
      margin-top: 0px;
      width: 90%;
      min-height: 20px;
    }
  
    .children {
      margin-top: 75px;
    }
  }
}