.container_details {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  overflow-y: hidden;
  margin-bottom: 80px;

  .overview {
    width: 41%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 15vh;

    .back_button {
      position: absolute;
      color: #D2D2D2;
      margin-top: -70px;
      margin-left: 5px;
      border-radius: 10px;
      background-color: #282828;
      display: flex;
      justify-content: flex-start;
    
      svg {
        font-size: 28px;
      }
    }

    .emphasis {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 10px;
        width: 20vw;
        min-width: 150px;
        max-height: 20vw;
      }

      .playlist_name {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        white-space: normal;
      }
    }

    .details {
      margin-left: 5vw;
      margin-top: 5vh;

      p {
        font-size: 18px;
        margin: 15px 0px 0px 0px;
        display: flex;
  
        span {
          color: #1ED760;
          font-weight: 600;
        }

        svg {
          color: #1ED760;
          padding-right: 5px;
        }
      }
    }
  }

  .tracks {
    width: 50%;
    margin-left: 50%;
    margin-top: -20px;

    .tracks_title {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 22px;
    }

    ul {
      margin: 0;
      padding: 0;
      margin-right: 5vw;
    }

    .list_item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 5px;

      img {
        height: 50px;
        width: 50px;
        border-radius: 5px;
        margin-right: 15px;
      }

      .track_details {
        display: flex;
        flex-direction: column;

        .name {
          font-size: 20px;
          font-weight: 600;
        }

        .artists {
          font-size: 14px;
          color: #D2D2D2;
        }
      }
    }
  }
}

.playbar_container {
  position: absolute;
  bottom: 2vh;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  border-top: 0.5vw solid #121212;
}

@media screen and (max-width: 990px) {
  .container_details {
    flex-direction: column;
    margin-bottom: 60px;

    .overview {
      margin-left: 0;
      position: inherit;
      width: 100%;
      margin-bottom: 2vh;
      margin-top: 20px;

      .details {
        padding: 0;
        margin-top: 2vh;
      }

      .emphasis {
        margin-inline: 5vw;

        img {
          width: 20vw;
          min-width: 150px;
        }
      }

      .back_button {
        margin-top: -55px;
      
        svg {
          font-size: 24px;
        }
      }
    }

    .tracks {
      width: 100%;
      margin-left: 0;
      margin-top: 2vh;

      .tracks_title {
        margin-left: 5vw;
        margin-top: 0;
        font-size: 20px;
      }

      ul {
        margin-inline: 5vw;
      }
    }
  }

  .playbar_container {
    bottom: 7.7vh;
    border-top: none;
  }
}