.content {
  overflow-y: scroll;
  background-color: #282828;
}

.recommendation_list {
  list-style-type: none;
  width: 90%;
  margin: 0;
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 30px;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  overflow-x: hidden;

  .title {
    color: white;
    font-size: 26px;
    margin: 0;
  }
}

.actions {
  background-color: #282828;
}

.playlist_name {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.close_button {
  color: white !important;
  padding: 0 !important;
}

.btn_add {
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
}

@media screen and (max-width: 990px) {
  .recommendation_list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}